#show-artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}