.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    min-height: 150px;
}

.artist-info {
    display: flex;
    justify-content: space-between;
}

.artist-info div {
    display: flex;
    gap: 0.5rem;
}

.artist-links {
    display: flex;
    gap: 0.5rem;
}

.artist-links a {
    height: 1.5rem;
}

.artist-links a img {
    height: 100%;
    width: auto;
}

.artist-card {
    position: relative;
    /* Keep existing styles */
}

.artist-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to your liking */
    border-radius: 0.5rem;
    z-index: 1;
}

.artist-info, .artist-links, p {
    position: relative;
    z-index: 2;
}