@font-face {
    font-family: 'Kanit';
    src: url('src/assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'KanitBold';
    src: url('src/assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}

:root {
    --page-margins-x: 8rem;
    --page-margins-y: 2rem;
}

@media (max-width: 768px) {
    :root {
        --page-margins-x: 2rem;
    }
}

html, body {
    background-color: #333;
    color: #fff;

    font-size: 16px;

    min-height: 100vh;

    font-family: 'Kanit', sans-serif;
}

h1 {
    font-family: 'KanitBold', sans-serif;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    all: unset;

    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;

    transition: all 0.2s;
}

button:hover {
    background-color: #fff;
    color: #333;
}

button:active {
    background-color: #333;
    color: #fff;
}